<footer class="footer py-3 mt-auto ">
    <div class="container d-flex justify-content-center align-items-center" style="background-color: grey; border:2px solid black;width: 100%; height:100px">
        <p class="text-center text-light fw-lighter"  >&copy; Shopping-Cart 2021</p>
    </div>
</footer>